.image {
    img {
        position: absolute;
        width: 505px;
        height: 330px;
        left: 230px;
        top: 96px;
    }

    @media (max-width: 576px) {
        img {
            width: auto;
        }
    }
}