/* Colors */
$font-color: #121212;
$background-color: #FFFFFF;
$button-color: #E4C1AE;
$button-color-hover: #d4b6a6;
$close-color-hover: #a8a8a8;

/* Font sizes */
$font-title: 42px;
$font-text: 16px;

/* Fonts */
$font-style: 'Roboto', sans-serif;